/* Error: Can't find stylesheet to import.
 *   ,
 * 1 | @import '_button.scss', '_component.scss', '_form.scss', '_grid.scss', '_image.scss', '_navigation.scss';
 *   |                         ^^^^^^^^^^^^^^^^^
 *   '
 *   scss\components\_index.scss 1:25  @import
 *   scss\styles.scss 1:54             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 1 \2502  @import '_button.scss', '_component.scss', '_form.scss', '_grid.scss', '_image.scss', '_navigation.scss';\a   \2502                          ^^^^^^^^^^^^^^^^^\a   \2575 \a   scss\\components\\_index.scss 1:25  @import\a   scss\\styles.scss 1:54             root stylesheet";
}
