/* Error: There is no module with the namespace "list".
 *    ,
 * 20 |         $col-list: list.append($col-list, calc($basis + 8.33%));
 *    |                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\utilities\_functions.scss 20:20  func-basis()
 *   scss\components\_grid.scss 43:25      @import
 *   scss\components\_index.scss 1:58      @import
 *   scss\styles.scss 1:54                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "list".\a    \2577 \a 20 \2502          $col-list: list.append($col-list, calc($basis + 8.33%));\d\a    \2502                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\utilities\\_functions.scss 20:20  func-basis()\a   scss\\components\\_grid.scss 43:25      @import\a   scss\\components\\_index.scss 1:58      @import\a   scss\\styles.scss 1:54                 root stylesheet';
}
