@function func-basis() {

    @for $i from 1 through 12 {
        @if($i ==2) {
            $basis: $basis +.01%;
        }

        @else if ($i ==5) {
            $basis: $basis +.01%;
        }

        @else if ($i ==8) {
            $basis: $basis +.01%;
        }

        @else if ($i ==11) {
            $basis: $basis +.01%;
        }

        $col-list: list.append($col-list, calc($basis + 8.33%));
        @return $col-list;
    }
}