@function func-basis($bas) {
    @for $i from 1 through 12 {
        @if($i ==2) {
            $bas: $bas +.01%;
        }

        @else if ($i ==5) {
            $bas: $bas +.01%;
        }

        @else if ($i ==8) {
            $bas: $bas +.01%;
        }

        @else if ($i ==11) {
            $bas: $bas +.01%;
        }

        @return calc($basis + 8.33%);




    }
}