// Colors
$grimmys-grey: #777;
$green-cyan: #58e1c1;
$cyan: #51ddfc;
$purple-magenta: #927bc1;
$faux-coral: #fd7856;
$light-magenta: #deb2ee;
$turquoise-blue: #7ee6fd;
$rinsed-green: #88d9a0;
$dark-aqua: #4da2bb;
$worn-pink: #ec9fa3;
$light-orange-pink: #fd9f85;
$cranberry-red: #e4757a;
$light-lime-green: #63cc82;
$malibu-blue: #51ddfc;
$blue-green: #80e8d1;
$gray80: #ccc;