// Colors
$grimmys-grey: #777;
$green-cyan: #58e1c1;
$cyan: #51ddfc;
$purple-magenta: #927bc1;
$faux-coral: #fd7856;
$light-magenta: #deb2ee;
$turquoise-blue: #7ee6fd;
$rinsed-green: #88d9a0;
$dark-aqua: #4da2bb;
$worn-pink: #ec9fa3;
$light-orange-pink: #fd9f85;
$cranberry-red: #e4757a;
$light-lime-green: #63cc82;
$malibu-blue: #51ddfc;
$blue-green: #80e8d1;
$gray80: #ccc;
$white: #fff;

// Media Query Breakpoint
$break: 768px;

// Map of background-color
$col-backgrounds: (
    1: $purple-magenta,
    2: $faux-coral,
    3: $light-magenta,
    4: $turquoise-blue,
    5: $rinsed-green,
    6: $dark-aqua,
    7: $worn-pink,
    8: $light-orange-pink,
    9: $cranberry-red,
    10: $light-lime-green,
    11: $malibu-blue,
    12: $blue-green,
);

// Map of button colors
$btn-backgrounds: (
    'default': $cyan,
    'error': $cranberry-red,
    'info': $purple-magenta,
    'success': $light-lime-green,
    'warning': $faux-coral,
);

// Flex basis
$basis: 0%;