.btn {
    @include button;

    @media(min-width: $break) {
        padding: 10px 30px;

        &+.btn {
            margin-left: 10px;
        }
    }
}

@each $background,
$color in $btn-backgrounds {
    .#{$background} {
        background-color: $color;
    }
}