.container {
    padding: 0 10px;

    @media(min-width: $break) {
        max-width: 1400px;
        @include center;
    }
}

.row {
    @include flex($disp: flex, $dir: column);
    padding: 1em 10px;

    @media(min-width: $break) {
        @include flex($dir: row);
    }
}

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;

    @media(min-width: $break) {
        @include flex($disp: flex, $just: center, $align: center);
        margin-top: 0;

        &+[class^=col] {
            margin-left: 10px;
        }
    }
}

@each $background,
$color in $col-backgrounds {
    .theme.col-#{$background} {
        background-color: $color;
    }
}

.centered {
    @media(min-width: $break) {
        @include center;
    }
}

.card {
    flex-basis: 100%;
}