.nav {
    padding-left: 0;
    flex-basis: 100%;
    @include flex($disp: flex, $dir: column);

    @media(min-width: $break) {
        @include flex($dir: row, $just: flex-end, $align: center);
    }
}

.nav-link {
    text-align: center;
    border-radius: 5px;
    padding: 10px 0;
    display: block;
    width: 100%;
    @include transition($back: background-color, $color: color);

    @media(min-width: $break) {
        flex-basis: 100px;
    }
}

.nav-link:hover {
    color: $white;
    background-color: $green-cyan;
}